@import "mocha.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  border-radius: 10px; /* rounding on edges */
}
 
#clock,
#network,
#wireplumber,
#battery,
#memory,
#custom-spotify,
#window{
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 4px;
  background-color: @base;
  color: @text;
}
#window {
  background-color: transparent;
}
#clock {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
window#waybar {
  background-color: transparent;
  border-radius: 0;
}
#custom-spotify {
  color: @subtext0;
  background-color: @crust;
}
#custom-spotify.playing {
  color: @text;
  background: @base;
  background: linear-gradient(
    90deg,
    @lavender,
    @base,
    @base,
    @base,
    @base,
    @lavender
  );
  background-size: 400% 100%;
  animation: grey-gradient 3s linear infinite;
  transition: all 0.3s ease;
}
@keyframes grey-gradient {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: -33% 50%;
  }
}
#wireplumber.muted {
  color: @pink;
}
#battery {
  color: @green;
}
#battery.charging {
  color: @green;
}
#battery.warning:not(.charging) {
  color: @red;
}
#battery.critical:not(.charging) {
  color: @red;
}
#workspaces {
  background-color: @base;
}
#workspaces button {
  background-color: @base;
}
#workspaces button label {
  color: @text;
}
#workspaces button.active {
  background-color: @crust;
  min-width: 40px;
  border: 1.5px solid @pink;
}
#workspaces button.active label {
  color: @pink;
  font-weight: bolder;
}
#workspaces button:hover {
  min-width: 40px;
  border: 1.5px solid @pink;
  background: @crust;
}

