configuration{
    modi: "drun,window,powermenu:~/.config/rofi/scripts/rofi-power-menu";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "  Apps ";
    display-run: "   Run ";
    display-window: "   Window ";
    display-powermenu: " 󰐦 Power Menu ";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"

